body {
    height: 100%;
    margin: 0;
    font-family: serif;
    display: grid;
    grid-template-areas:
        "header header header header"
        "lists lists todo-wrapper todo-wrapper";
    grid-gap: 20px;
    position: relative;
}

/* Background image */
.bg {
    background-blend-mode: darken;
    background: url(../IMAGES/background.jpg) no-repeat center fixed;
    background-size: cover;
}

/* Main page header section*/
.header {
    text-align: center;
    grid-area: header;
    background-color: white;
    width: auto;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 15px;
}

/* Styling the task button */
#addTaskListButton:hover {
    color: white;
    background-color: #2A6AC1;
}
#addTaskListButton:active {
    opacity: 0.7;
}
#addTaskListButton {
    width: 40px;
    border: none;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: white;
    color: #2A6AC1;
    transition-duration: 0.4s;
}

/* Styling the task input */
.add-task-input {
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    height: 40px;
    width: 80%;

    transition: border-bottom 150ms ease-in;
}
.add-task-input:focus {
    border-bottom-width: 2px;
}
.add-task-input:focus::placeholder {
    opacity: 0.2;
}

::placeholder {
    font-weight: bold;
    font-size: 20px;
}

/* Task List Section */
.lists {
    grid-area: lists;
}
.list-name {
    width: fit-content;
    border: none;
    cursor: pointer;
}
.list-name:hover {
    opacity: 0.5;
}
#taskListSection {
    width: auto;
    padding: 20px;
    border-radius: 15px;
}
.task-list-container {
    align-items: center;
    display: flex;
    background-color: #2A6AC1;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 20px;
}
.task-list-content input {
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;
    margin-top: 10px;
    list-style: none;
    transition-duration: 0.1s;
}
.task-list-content input:active {
    outline: none;
    opacity: 1;
}
.task-list-content label {
    cursor: pointer;
}
.remove-task-list {
    display: flex;
    margin-right: 5px;
}
.bi:active {
    opacity: 0.7;
}
.bi:hover {
    color: #B90C31;
}
.bi  {
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
    transition-duration: 0.2s;
}

/* strikethrough checkbox */
input[type=checkbox]:checked + label {
    text-decoration: line-through;
    opacity: 0.7;
}
/* Styling the date selector */
input[type=date]{
    margin-top: 3px;
    background-color: #B90C31;
    padding: 5px;
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}
/* Styling the time selector */
input[type=time]{
    margin-top: 3px;
    background-color: #B90C31;
    padding: 5px;
    margin-left: 12px;
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-time-picker-indicator {
    background-color: white;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}

/* Tasks within the task list */
.todo-wrapper {
    grid-area: todo-wrapper;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
    /* display: none; */
}
.todo-header {
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-title {
    margin: 0 10px 0 0;
}
.tasks-remaining {
    opacity: 0.7;
    margin: 0;
}

/* Styling the tasks */
.tasks {
    padding: 0px 15px;
}

.task {
    align-items: center;
}
.task label{
    position: relative;
    top: -2px;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* Styling Edit and Delete buttons */
.edit-tasks {
    margin-top: 10px;
    padding: 0px 15px;
}

/* Styling the todo input form */
.new-task-input {
    padding: 15px 15px;
}

.todo-input {
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    height: 40px;
    width: 70%;

    transition: border-bottom 150ms ease-in;
}
.todo-input:focus {
    border-bottom-width: 2px;
}
.todo-input:focus::placeholder {
    opacity: 0.2;
}

/* Styling the todo button */
#add-todo-button:hover {
    color: white;
    background-color: #2A6AC1;
}
#add-todo-button:active {
    opacity: 0.7;
}
#add-todo-button {
    width: 40px;
    border: none;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: white;
    color: #2A6AC1;
    transition-duration: 0.4s;
}
