body {
    height: 100%;
    margin: 0;
    font-family: serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "... header header ..."
        "lists lists todo-wrapper todo-wrapper"
        "lists lists edit-tasks edit-tasks";
    grid-gap: 40px;
    justify-content: space-evenly;
    /* justify-items: center; */
    align-content: space-evenly;
    /* align-items: center; */
    position: relative;
}

/* Background image */
.bg {
    background-blend-mode: darken;
    background: url(../IMAGES/background.jpg) no-repeat center fixed;
    background-size: cover;
}

/* Main page header section*/
.header {
    width: auto;
    text-align: center;
    justify-content: center;
    grid-area: header;
    background-color: white;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 15px;
}

/* Styling the task button */
#addTaskListButton:hover {
    color: white;
    background-color: #B90C31;
}

#addTaskListButton:active {
    opacity: 0.7;
}

#addTaskListButton {
    width: 40px;
    border: none;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: white;
    color: #2A6AC1;
    transition-duration: 0.4s;
}

/* Styling the task input */
.add-list-input {
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    height: 40px;
    width: 80%;

    transition: border-bottom 150ms ease-in;
}

.add-list-input:focus {
    border-bottom-width: 2px;
}

.add-list-input:focus::placeholder {
    opacity: 0.2;
}

::placeholder {
    font-weight: bold;
    font-size: 20px;
}

/* Task List Section */
#my-list {
    margin-left: 40px;
    color: white;
}

.lists {
    grid-area: lists;
}

.list-name {
    margin-left: 10px;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.list-name:hover {
    opacity: 0.5;
}

.active-list {
    font-weight: 700;
}

#taskListSection {
    width: auto;
    padding: 20px;
    border-radius: 15px;
}

.task-list-container {
    align-items: center;
    display: flex;
    background-color: #2A6AC1;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-list-content input {
    letter-spacing: 1px;
    margin: 10px;
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;
    list-style: none;
    transition-duration: 0.1s;
}

.task-list-content input:active {
    outline: none;
    opacity: 1;
}

.task-list-content label {
    cursor: pointer;
}

.remove-task-list {
    display: flex;
    margin-right: 5px;
}

.bi:active {
    opacity: 0.7;
}

.bi:hover {
    color: #B90C31;
}

.bi {
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 900;
    transition-duration: 0.2s;
}

/* Styling the date picker */
#datepicker-restrict {
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    height: 40px;
    width: 80%;

    transition: border-bottom 150ms ease-in;
}
#datepicker-restrict:focus {
    border-bottom-width: 2px;
}
#datepicker-restrict:focus::placeholder {
    opacity: 0.2;
}

/* Sections of the Task Menu */
.todo-wrapper {
    width: 80%;
    position: relative;
    grid-area: todo-wrapper;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right: 40px;
    height: 100%;
}

.todo-header {
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-title {
    margin: 0 10px 0 0;
}

.tasks-remaining {
    opacity: 0.7;
    margin: 0;
}

/* Styling the tasks */
.tasks {
    padding: 0px 15px;
}

.task-item.done .label-div {
    text-decoration: line-through;
    color: #2A6AC1;
    opacity: 0.7;
}

.task-name {
    border: none;
    outline: none;
    margin-left: 10px;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item label {
    position: relative;
    display: flex;
    top: -2px;
    margin-left: 15px;
    cursor: pointer;
}
.new-label {
    font-size: 23px;
    letter-spacing: 1px;
}
.datepicker {
    opacity: 0.7;
    font-size: 15px;

}


/* Styling Edit and Delete buttons */
.edit-tasks {
    margin-top: 10px;
    padding: 0px 15px;
    grid-area: edit-tasks;
}

.edit-tasks .edit {
    position: absolute;
    right: 20px;
    bottom: -40px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    border: none;
    transition-duration: 0.1s;
}
.edit-tasks .edit:hover {
    background-color: #B90C31;
    color: white;
}

.edit-tasks .edit:active {
    opacity: 0.7;
}

/* Styling the todo input form */
.new-task-input {
    padding: 15px 15px;
}

.todo-input {
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    height: 40px;
    width: 80%;

    transition: border-bottom 150ms ease-in;
}

.todo-input:focus {
    border-bottom-width: 2px;
}

.todo-input:focus::placeholder {
    opacity: 0.2;
}

/* Styling the todo button */
#add-todo-button:hover {
    color: white;
    background-color: #B90C31;
}

#add-todo-button:active {
    opacity: 0.7;
}

#add-todo-button {
    width: 40px;
    border: none;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: white;
    color: #2A6AC1;
    transition-duration: 0.4s;
}